* {
    font-family: monospace;
    border-radius: 30px;
}

a{
    color:black;
}

.ascii{
    font-family: Arial, Helvetica, sans-serif;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari, Chrome, Opera */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported in all modern browsers */
    
    line-height: 1.25em;
    letter-spacing: -0.05em;
    text-wrap-mode: nowrap;

    transform-origin:center;
    transform: rotate(deg);
    font-size: 25px;
    color:rgb(92, 92, 92);
    
    text-shadow: 4px 4px 10px #cccbcb;
}